extends layout

block content
  .main.container
    h1.display-4.m-b-2 Welcome to Outlet Finder
    a(href="get_outlet/search") GET http://localhost:3000/get_outlet/search
    a(href="get_outlet?address=") GET http://localhost:3000/get_outlet?address=